#title{
    margin-bottom: 0.5em;
    text-align: center;
    text-transform: uppercase;
    font-size: 4.5em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    background-color: #168758;
    color: #fff;
    text-align: center;

}

